light-grey = rgb(206,206,206)
dark-grey = rgb(164,164,164)
navy = rgb(33,31,95)

@import url('http://fonts.googleapis.com/css?family=Rouge+Script|Handlee')

primary-font()
  font-family: 'Rouge Script', cursive;
secondary-font()
  font-family "Handlee", sans-serif

fontsize($sizevalue = 2)
  font-size $sizevalue * 16 px
  font-size $sizevalue * 1 rem

@import "css-reset"

html
body
  overflow-x hidden

body
  background-color light-grey
  color navy
  text-align center
h1
h2
h3
  primary-font()
h1
  fontsize(4.5)
h2
  fontsize(3.5)
p
  secondary-font()

#wrapper
  width 90%
  margin 0 auto
  #wedding-site
    > div
      clear both
      overflow hidden
      h1
        padding-bottom .25em

#site-nav
  #main-nav
    display none
    &.open
      position absolute
      z-index 999999
      display block
      right 0
      left 0
      top 4%
      background-color dark-grey
      primary-font()
    a
      display block
      fontsize(3)
      color navy
      padding-bottom .5em
    a:first-child
      padding-top .5em
    a:link
      text-decoration none
  #menu-mobile
    display table
    width 100%
    primary-font()
    fontsize(4)
    position fixed
    top 0
    z-index 9999
    height 5%
    background-color dark-grey
    a
      display table-cell
      vertical-align middle
      color navy
    a:link
      text-decoration none

#intro
  width 100%
  background url('images/engagement_pictures/895C7699-min.jpg') no-repeat center center
  background-size cover
  .intro-text
    background-color rgba(0,0,0,.5)
    height 100vh
    color #fff
    h1
      fontsize(6)
    h1
    h2
      position relative
      -webkit-transform translateY(-50%)
      -o-transform translateY(-50%)
      transform translateY(-50%)
    h1:first-child
      top 35%
    h1:last-child
      top 55%
    h2
      fontsize(3)
      top 35%

#the-wedding
  img
    width 50%
    height auto
    float left
  #venue
    fontsize(2.5)
    text-align left
    overflow hidden
    margin-bottom 1em
    p
      padding-bottom .75em
      margin-left 1em
      float left
      width 45%
    a
      color navy
    a:link
      text-decoration none
    a:hover
      border-bottom 1px solid navy
  #schedule
    width 100%
    margin-top 1em
    thead
      secondary-font()
      fontsize(2.5)
      tr
        th
          width 33%
    tbody
      secondary-font()
      fontsize(2)
  h2
    secondary-font()

#wedding-party
  .members
    width 25%
    float left
    h2
      fontsize(3)
    h3
      fontsize(1.5)

#gallery
  .cycle-slideshow
    display inline-block
    margin 0 auto
  .center
    height 100px
    text-align center
    display table
    margin 0 auto
    width 100%
    a
      secondary-font()
      color navy
    a:link
      text-decoration none
      fontsize(3)
      line-height 1
      display table-cell
      vertical-align middle
  .cycle-slideshow
    padding 0
    img:nth-child(4)
    img:nth-child(5)
    img:nth-child(10)
    img:nth-child(14)
    img:nth-child(17)
    img:nth-child(22)
    img:nth-child(23)
      left 27%!important

#guest-info
  #hotel
    overflow hidden
    fontsize(2.5)
    text-align left
    p
      padding-bottom .75em
      margin-left 1em
      float left
      width 45%
    a
      color navy
    a:link
      text-decoration none
    a:hover
      border-bottom 1px solid navy
    #map-canvas
      height 400px
      width 50%
      float left

#registry
  .registry-images
    line-height 0
    a:first-child
      padding-right 5em

#contact-us
  label
  input
  textarea
    secondary-font()
    color navy
    outline none
    fontsize(2)
    float left
    width 100%
    text-align left
  input
  textarea
    border none
    background-color transparent
    border-bottom 1px solid navy
  textarea
    resize none
  label
    padding 1em 0 0 0
  label:first-child
    padding 0
  #submit
    border 1px solid navy
    width 50%
    text-align center
    margin-top 1em
    float none

// tablet
@media screen and (min-device-width: 768px)
  #site-nav
    #main-nav
      height 10%
  #intro
    .intro-text
      h1:first-child
        top 30%
      h1:last-child
        top 50%
      h2
        top 30%

// laptop
@media screen and (min-width: 1200px)
  #site-nav
    #main-nav
      display table
      width 100%
      primary-font()
      position fixed
      top 0
      z-index 9999
      height 10%
      background-color dark-grey
      a
        display table-cell
        vertical-align middle
        color navy
        fontsize(2)
      a
      a:first-child
        padding 0
      a:link
        text-decoration none
    #menu-mobile
      display none
  #intro
    .intro-text
      h1:first-child
        top 25%
      h1:last-child
        top 45%
      h2
        top 22%
